@font-face
{
    font-family: DOWNCOME;
    src: url("./DOWNCOME.ttf");
}

@font-face
{
    font-family: JMH;
    src: url("./JMH.otf");
}

@font-face
{
    font-family: SKETCH;
    src: url("./Sketch.ttf");
}

@font-face
{
    font-family: SULLIVAN;
    src: url("./Sullivan.ttf");
}


@font-face
{
    font-family: URBAN;
    src: url("./Urban.otf");
}
