.cricleProgresBar
{
  width: 350px;
  height: 350px;
  border: dotted 4px white;
  background: #f76c6c;
  border-radius: 50%;
  margin: 10% auto;
}

.circle
{
  width: 10px;
  height: 10px;
  border: solid 4px white;
  padding: 5px;
  background: #f76c6c;
  border-radius: 50%;
  margin: -15px auto;
}
