.cricleProgresBar
{
  width: 350px;
  height: 350px;
  border: dotted 4px white;
  background: #f76c6c;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  transition: all ease-in-out 1s;
  
}

.circle
{
  width: 10px;
  height: 10px;
  border: solid 4px white;
  padding: 5px;
  background: #f76c6c;
  border-radius: 50%;
  margin: -15px auto;
  position: absolute;
  left: 50%;
}

.circle-container
{
  width: 350px;
  height: 350px;
  margin: 10% auto;
  transform: rotate(0deg);
  transition: all ease-in-out 1s;
}
