td
{
  border: 1px outset #263238;
  padding: 0;
  background: #0091EA;
}
table
{
  margin: 15px 0;
  border: 3px solid #673AB7;
  background: #673AB7;
  border-radius: 8px;
}

img
{
  width: 100%;
  height: 20%;
}

table tr td.hovered_Correcte
{
  transition: all 0.3s ease-out;
  background: #009688;
}

table tr td.hovered_InCorrecte
{
  transition: all 0.3s ease-out;
  background: #f44336;
}
table tr td.hovered_Normal
{
    transition: all 0.3s ease-out;
    background: #673AB7;
}

.ajustar
{
  width: 100%;
  height: 100%;
}
